body {
    
    background: #d0cef5;

    text-shadow: 0.01px 0.01px 0.04px rgba(46, 44, 44, 0.808);
    color: #4f48ce;
    font-family: 'DynaPuff', cursive;
    font-size: 0.8em;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 2em;
}

.display {
    text-align: center;
    margin: 1.5em;
}

.timer {
    margin-top: 1em;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controles {
    text-align: center;
}

.btn {
    color: #4f48ce;
    display: inline-block;
    font-family: 'DynaPuff', cursive;
    padding: 10px 20px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50px;
    background: linear-gradient(to right, #b7afec, #b9b6f5);
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
}
  
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}
  
.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.disabled {
    color: #757575;
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front, .card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background: linear-gradient(to right, #b7afec, #b9b6f5);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-front {
    transition: all 0.5s ease-in-out;
}
  
.card-front:hover {
    transform: scale(1.1);
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    text-align: center;
    margin-top: 1.5em;
}

@font-face {
    font-family: Montserrat;
    src: url(./Montserrat-Regular.ttf);
}






