/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */

body {
  background-color: rgb(210, 233, 253);
}

h1 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 35px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  color: midnightblue;
  margin: 20px;
}

h2 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: midnightblue;
  text-align: center;
}

h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: midnightblue;
  text-align: center;
}

p  {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: midnightblue;}

a:link, a:visited {
  text-decoration: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  word-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: midnightblue;
  }

a {
  margin-top: 15px;
}

li  {
  font-family: 'Courier New', Courier, monospace;
  color: midnightblue;
}

* {
  box-sizing: border-box;
}

/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: auto;
}

/* Crear interfaz de cartas */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: auto;
  text-align: start;
  background: linear-gradient(white, aliceblue);
  border-radius: 10px;
}

.main {
width: 88%;
}

.derecha {
  width: 12%;
}

.about1 {
  width: 20%;
}

.about2 {
  width: 80%;
}

.Enum {
  text-align: center;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#binit {
  padding: 10px;
}

#c1 {
  text-align: start;
}

#c2 {
  text-align: start;
}

#c3 {
  text-align: center;
}

#cardlinks {
  text-align: center;
}

#title {
  size: 120%;
  text-align: start;
}

#foto {
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
}

#foto1 {
  width: 120px;
  height: auto;
  border-radius: 20px;
  border: 1px solid;
}

#fotoAbout {
  height: auto;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 30px;
}

#t2 {
  margin-top: 5px;
}

/*** BOTÓN SLIDE LEFT ***/

.ov-btn-slide-left {
  background: white; /* color de fondo */
  color: midnightblue; /* color de fuente */
  padding: 16px 20px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  min-width: 130px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.ov-btn-slide-left:hover {
  color: white; /* color de fuente hover */
}
.ov-btn-slide-left::after {
  content: "";
  background: midnightblue; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/*** BOTÓN SLIDE RIGHT ***/

.ov-btn-slide-right {
  background: white; /* color de fondo */
  color: midnightblue; /* color de fuente */
  padding: 16px 20px;
  border-radius: 10px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  min-width: 130px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.ov-btn-slide-right:hover {
  color: white; /* color de fuente hover */
}
.ov-btn-slide-right::after {
  content: "";
  background: midnightblue; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-right:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
  width: 60%;
  height: auto;
}

.iresponsive {
  padding: 0 6px;
  float: left;
  width: 50%;
}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
  .columna {
    width: 100%;
  }

  .iresponsive {
      width: 100%;
  }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */